/*Importar estilos*/
@use "theme1";

h1 {
  color: theme1.$font-color;
  background-color: theme1.$background-color;
}


//Dependencia todo lo que esta en nav cumple esas reglas anade reglas
nav {
  background-color: theme1.$main-color;
  a {
    text-decoration: none;
    padding: 15px;
  }
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
  }
}

/*Mixins*/
@mixin box-style($color) {
  @extend %box;
  border-color: $color;
}

/*Herencia*/
%box {
  border-style: solid;
  border-width: 2px;
  margin: 1em;
}

.box {
  @extend %box;
}

.box-success {
  @include box-style(green);
}

.box-error {
  @include box-style(red);
}

/*Operadores*/
.container {
  width: 100%;
}

//Con operaciones matematicas
article {
  float: left;
  width: 600px / 960px * 100%;
}
aside {
  float: right;

  width: 300px / 960px * 100%;
}

/*Maps*/

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 600,
);

p {
  font-weight: map-get($map: $font-weights, $key: bold);
}
